/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #efefe6;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 130%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #33a; }
a:hover   { color: #333; }
a:visited { color: #a3a; }

